<script>

  function checkLoginState() {
    console.log('checkLoginState');
    FB.getLoginStatus(function(response) {
      console.log(response);
      if (response.status === 'connected') {
        console.log('Logged in');
        var button = document.getElementById('fb-login-button');
        var review = document.getElementById('review');
        button.style.display = 'none';
        review.style.display = 'block';
        // window.location = '/ratings';
      } else {
        console.log('Not logged in');
      }
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1948918882013182',
      cookie     : true,
      xfbml      : true,
      version    : 'v1.0'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   window.addEventListener("load", function() {
     setTimeout(checkLoginState, 500);
   });
</script>


<fb:login-button
  id="fb-login-button"
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

<div id="review" style="display:none">
  <label>Enter your review</label>
  <input type="text"></input>
</div>
