<div class="container-fluid">
  <h1><strong>Coach Connect Create </strong></h1><br>
  <h3><i>Connecting people to skills</i></h3>

  <br><%= image_tag "background2.jpg", size: "800x500" %><br><br>

</div>
