<div class="background_image">

  <div class="box">
    <h1><strong>Connect  Coach  Create </strong></h1><br>
    <h3>Connecting people to skills</h3><br>
    <h2> <a href="/find_a_tutor/"> Find a tutor now!</a></h2>

    <br>
  </div>

</div>
