    <div class="sign_up">
        <div class="text">
            <h1>Do you know X Y Z ?</h1><br>
            <h3>  Earn money by tutoring </h3><br
            <h2> <a href="/edit-profile/"> Sign up as a tutor now!</a></h2>
        </div>
    </div>
