    <div class="container">
      <%= image_tag "boy_chalkboard.jpg" %>
        <div class="Container2">
            <h2>Do you know X Y Z ?</h2>
            <h3>  Earn money by tutoring </h3>
            <h3> <a href="/edit-profile/"> Sign up as a tutor now!</a></h3>
        </div>
    </div>
