<div class="container-fluid">

<H2> Do you know xyz?<br></h2>
<h3>  Earn money by tutoring </h3><br>
Create your own tutor profile and get access to students in search of a tutor.

<h3> <a href="/edit-profile/"> Are you a tutor?</a></h3>

<br><%= image_tag "background2.jpg", size: "800x500" %><br><br>

</div>
