/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background-color: #E6ECF0;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   padding: 20px;
 }

 .container {
   padding-top: 15px;
 }

 .nav ul {
   margin: 0;
   padding: 0;
   width: 100%;
   list-style: none;
 	font-size: 14px;
   text-align: center;
 	background: rgba(255,255,255,0.9);
 	border-bottom: 1px rgba(0,0,0,0.1) solid;
 	font-weight: 300;
 	font-family: 'Open Sans', sans-serif;
 	line-height: 1.7;
 	text-transform: uppercase;
 }
 .nav li {
   display: inline-block;
   margin: 0 .5em;
   	-webkit-transition: background 0.5s ease;
 		-moz-transition: background 0.5s ease;
         -ms-transition: background 0.5s ease;
         -o-transition: background 0.5s ease;
 		transition: background 0.5s ease;
 }
 .nav a {
   display: block;
   padding: .8em .6em;
   color: #575758;
   text-decoration: none;
 }
 .nav a:hover {
 	background-color: #00A2EC;
 color: white;

 -webkit-transition: background 0.2s ease-in-out;
 		-moz-transition: background 0.2s ease-in-out;
         -ms-transition: background 0.2s ease-in-out;
         -o-transition: background 0.2s ease-in-out;
 		transition: background 0.2s ease-in-out;
}

 .nav a:active{
 background: black;
 color:white;
 -webkit-transition: background 0.2s ease-in-out;
 		-moz-transition: background 0.2s ease-in-out;
         -ms-transition: background 0.2s ease-in-out;
         -o-transition: background 0.2s ease-in-out;
 		transition: background 0.2s ease-in-out;

 }

 .sticky {
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 1000;
   border-top: 0;
 }

 /* Styling the toggle menu link and hiding it */
 .nav .navtoogle {
  display: none;
  width: 100%;
  padding: .5em .5em .8em;
  text-align: left;
  font-size: 1.2em;
  background: none;
  border: none;
  height: 45px;
  margin: 0;
	padding: 0;
 	list-style: none;
 	font-size: 14px;
  text-align: center;
 	background: rgba(255,255,255,0.9);
 	border-bottom: 1px rgba(0,0,0,0.1) solid;
 	font-weight: 300;
 	font-family: 'Open Sans', sans-serif;
 	line-height: 1.7;
 	text-transform: uppercase;
 }

 .nav .navtoogle:before {
   content: '\2630';
   padding-right: .5em;
   font-size: 1.2em;
 }

 @media (max-width: 680px) {
   .nav li {
     margin: 0;
     display: block;
     text-align: center;
   }
   .nav a {
     padding: .8em 1.2em .8em;
   }
   .js .nav {

   }

   .js .nav .navtoogle {
     margin: 0;
     display: block;
   }

   .js .nav ul {
     max-height: 0em;
     overflow: hidden;
   }

   .js .nav .active + ul {
     max-height: 30em;
     overflow: hidden;
     -webkit-transition: max-height 0.4s;
     -moz-transition: max-height 0.4s;
     -o-transition: max-height 0.4s;
     -ms-transition: max-height 0.4s;
     transition: max-height 0.4s;
   }

   /* If JavaScript is disabled, the menu stays open */
   .no-js .nav ul {
     max-height: 30em;
     overflow: hidden;
   }
 }

 .navbar-default .navbar-toggle:hover,
 .navbar-default .navbar-toggle:focus {
     background-color: #F5F8FA;
     border-color: #E7E7E7;
 }

 .navbar-nav > li > a:hover {
     color: #00aced;
 }

 .listing {
  background-color: #E8F5FD;;
  padding: 5px;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 2px #f5f8fa;
  text-align: left;
}

#map {
  height: 400px;
  width: 100%;

}
